*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background-image: url("https://www.10wallpaper.com/wallpaper/1366x768/1509/road_to_mount_cook-scenery_HD_Wallpaper_1366x768.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:  100%;
    min-height: 100vh;
  
}

.container{
    word-wrap: break-word;
    width: 100%;
    max-width: 600px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    padding: 15px 2%;
    color: white;
}

p{
    font-size: 22px;
    font-weight: 300;
}
input {
    width: 80%;
    height: 80%;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 50px;
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
}

.div2 {
    background-color: blue;

}
button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  padding: 8px;
  border-radius: 12px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 2px solid grey;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}

button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
  }

